In [1]:
import pandas as pd

In [2]:
#dataframe -> content , [labels]
dataframe = pd.read_csv('./training_data.csv')

In [3]:
dataframe.head()

                                             content         label
0  Unions representing workers at Turner   Newall...  ['Business']
1  SPACE.com - TORONTO, Canada -- A second\team o...   ['SciTech']
2  AP - A company founded by a chemistry research...   ['SciTech']
3  AP - It's barely dawn when Mike Fitzpatrick st...   ['SciTech']
4  AP - Southern California's smog-fighting agenc...   ['SciTech']

In [ ]:
#use count vectorizer and tfidf to convert text to vector