In [11]:
import pandas as pd
import numpy as np
import json
import os

In [2]:
data = []
for file in os.listdir('./data'):
    with open(os.path.join('./data', file)) as f:
        for line in f.readlines():
            data.append(json.loads(line))

In [3]:
len(data)

7668

In [4]:
dataframe = pd.DataFrame()

In [5]:
dataframe['content'] = [d['content'] for d in data]
dataframe['label'] = [d['annotation'] for d in data]

In [6]:
dataframe.head()

,content,label
0,Unions representing workers at Turner Newall...,"{'notes': '', 'label': ['Business']}"
1,"SPACE.com - TORONTO, Canada -- A second\team o...","{'notes': '', 'label': ['SciTech']}"
2,AP - A company founded by a chemistry research...,"{'notes': '', 'label': ['SciTech']}"
3,AP - It's barely dawn when Mike Fitzpatrick st...,"{'notes': '', 'label': ['SciTech']}"
4,AP - Southern California's smog-fighting agenc...,"{'notes': '', 'label': ['SciTech']}"

In [7]:
label = []
for annotation in dataframe['label']:
    if 'label' in annotation.keys():
        label.append(annotation['label'])
    else:
        #labels = []
        label.append(annotation['labels'])

In [12]:
np.array(label)

array([list(['Business']), list(['SciTech']), list(['SciTech']), ...,
       list(['ALcohol & Drugs']), list(['Politics']), list(['Religion'])],
      dtype=object)

In [13]:
dataframe['label'] = np.array(label)

In [14]:
#unique labels

In [15]:
unique_labels = set()
for label in dataframe['label']:
    for l in label:
        unique_labels.add(l)

In [17]:
unique_labels

{'ALcohol & Drugs',
 'Business',
 'Misogyny',
 'Personal & Family',
 'Politics',
 'Profanity & Obscenity',
 'Religion',
 'SciTech',
 'Sex',
 'Sports',
 'Work & Company',
 'World'}

In [18]:
#save dataframe
dataframe.to_csv('training_data.csv', index=False)